<div class="container">
   <div id="addArticleFrm" style="display:none; width:100%;">

      <form method="post" action="{{@BASE.'/create/q9'}}" class="form-group row" ENCTYPE="multipart/form-data">
          <fieldset class="form-group">
	          <label for="title" class="col-sm-1 form-control-label">事件标题:</label>
	          <div class="col-sm-9">
	          <input type="text" name="title" id="title" placeholder="事件标题" class="form-control ">
	          </div>
          </fieldset>
          <fieldset class="form-group">
	          <label for="author" class="col-sm-1 form-control-label">参加人:</label>
	          <div class="col-sm-9">
	          <input type="text" name="author" id="author" placeholder="参加人" class="form-control">
	          </div>
          </fieldset>
          <fieldset class="form-group">
	          <label for="patent_code" class="col-sm-1 form-control-label">详细内容:</label>
	          <div class="col-sm-9">
	          <textarea name="description" id="description" placeholder="详细内容" class="form-control"></textarea>
	          </div>
          </fieldset>
          <fieldset class="form-group">
	          <label for="attachment" class="col-sm-1 form-control-label">附加文件:</label>
  			  <div class="col-sm-3">
			      <input id="attachment" type="file" name="attachment" >
			  </div>
		  </fieldset>
          <input type="submit" name="addArticle" class="btn btn-primary" style="float:left" value="提交" >
      </form>
    </div>
</div>