<check if="{{@SESSION[is_admin]}}">
    <false>
        <button id="addArticleBtn" class="btn btn-primary" style="float:left;margin:5px">
            <span class="glyphicon glyphicon-menu-down" id="addArticleLbl"> 添加</span>
       </button>
        <button id="bulkLoadBtn" class="btn btn-primary" style="float:left;margin:5px">
            <span class="glyphicon glyphicon-menu-down" id="bulkloadlbl"> 批量添加</span>
        </button>
    </false>
</check>
<div style="clear:both""></div>
<include href="{{@VIEWTABLE.'/add.html'}}" />
<include href="bulkload.html" />
<hr style="clear:both;margin:5px"/>