<div class="container">
   <div id="addArticleFrm" style="display:none; width:100%;">

      <form method="post" action="{{@BASE.'/create/q8'}}" class="form-group row" ENCTYPE="multipart/form-data">
          <fieldset class="form-group">
	          <label for="title" class="col-sm-1 form-control-label">专利名称:</label>
	          <div class="col-sm-8">
	          <input type="text" name="title" id="title" placeholder="专利名称" class="form-control ">
	          </div>
          </fieldset>
          <fieldset class="form-group">
	          <label for="author" class="col-sm-1 form-control-label">发明人:</label>
	          <div class="col-sm-8">
	          <input type="text" name="author" id="author" placeholder="发明人" class="form-control">
	          </div>
          </fieldset>
          <fieldset class="form-group">
	          <label for="patent_code" class="col-sm-1 form-control-label">专利编号:</label>
	          <div class="col-sm-2">
	          <input type="text" name="patent_code" id="patent_code" placeholder="专利编号" class="form-control">
	          </div>

	          <label for="org_namee" class="col-sm-1 form-control-label">第一发明单位:</label>
	          <div class="col-sm-2">
	          <input type="text" name="org_name" id="org_name" placeholder="第一发明单位" class="form-control">
	          </div>

	          <label for="category" class="col-sm-1 form-control-label">专利类别:</label>
	          <div class="col-sm-2">
	          <select name="category" id="category" class="form-control">
	              <option value="发明专利" >发明专利</option>
	              <option value="实用新型号专利">实用新型号专利</option>
	          </select>
	          </div>

          </fieldset>
          <fieldset class="form-group">
	          <label for="publish_year" class="col-sm-1 form-control-label">申请或者获得时间:</label>
	          <div class="col-sm-2">
	              <select name="publish_year" id="publish_year">
	                  <option value="2016">2016</option>
	                  <option value="2015">2015</option>
	                  <option value="2014">2014</option>
	                  <option value="2013">2013</option>
	                  <option value="2012">2012</option>
	                  <option value="2011">2011</option>
	                  <option value="2010">2010</option>
	              </select>年
	              <select name="publish_month" id="publish_month">
	                  <option value="01">01</option>
	                  <option value="02">02</option>
	                  <option value="03">03</option>
	                  <option value="04">04</option>
	                  <option value="05">05</option>
	                  <option value="06">06</option>
	                  <option value="07">07</option>
	                  <option value="08">08</option>
	                  <option value="09">09</option>
	                  <option value="10">10</option>
	                  <option value="11">11</option>
	                  <option value="12">12</option>
	              </select>月
	          </div>
          </fieldset>
          
          <fieldset class="form-group">

	          <label for="attachment" class="col-sm-1 form-control-label">附加文件:</label>
  			  <div class="col-sm-3">
			      <input id="attachment" type="file" name="attachment" >
			  </div>

		  </fieldset>

          <input type="submit" name="addArticle" class="btn btn-primary" style="float:left" value="确认" >
      </form>
    </div>
</div>