<div class="container">
   <div id="addArticleFrm" style="display:none; width:100%;">

      <form method="post" action="{{@BASE.'/create/'.@VIEWTABLE}}" class="form-group row" ENCTYPE="multipart/form-data">
          <fieldset class="form-group">
	          <label for="title" class="col-sm-2 form-control-label">获奖题目:</label>
	          <div class="col-sm-8">
	          <input type="text" name="title" id="title" placeholder="标题" class="form-control ">
	          </div>
          </fieldset>
          <fieldset class="form-group">
	          <label for="author" class="col-sm-2 form-control-label">获奖人:</label>
	          <div class="col-sm-8">
	          <input type="text" name="author" id="author" placeholder="获奖人" class="form-control">
	          </div>
          </fieldset>
          <fieldset class="form-group">

	          <label for="publisher" class="col-sm-2 form-control-label">颁奖单位:</label>
	          <div class="col-sm-3">
	              <input type="text" name="publisher" id="publisher" placeholder="例如 :农业部" class="form-control">
	          </div>

	          <label for="award_name" class="col-sm-2 form-control-label">获奖名称:</label>
	          <div class="col-sm-3">
	              <input type="text" name="award_name" id="award_name" placeholder="获奖名称" class="form-control">
	          </div>

          </fieldset>
          <fieldset class="form-group">
          
	          <label for="level" class="col-sm-2 form-control-label">级别:</label>
	          <div class="col-sm-3">
	          <select name="level" id="level" class="form-control">
	              <option value="国家级" selected>国家级</option>
	              <option value="省部级">省部级</option>
	          </select>
	          </div>

	          <label for="grade" class="col-sm-2 form-control-label">获奖等级:</label>
	          <div class="col-sm-3">
	              <input type="text" name="grade" id="grade" placeholder="一等奖" class="form-control">
	          </div>

        </fieldset>
        <fieldset class="form-group">
	          <label for="publish_year" class="col-sm-2 form-control-label">获奖年月:</label>
	          <div class="col-sm-4">
	              <select name="publish_year" id="publish_year">
	                  <option value="2016">2016</option>
	                  <option value="2015">2015</option>
	                  <option value="2014">2014</option>
	                  <option value="2013">2013</option>
	                  <option value="2012">2012</option>
	                  <option value="2011">2011</option>
	                  <option value="2010">2010</option>
	              </select>年
	              <select name="publish_month" id="publish_month">
	                  <option value="01">01</option>
	                  <option value="02">02</option>
	                  <option value="03">03</option>
	                  <option value="04">04</option>
	                  <option value="05">05</option>
	                  <option value="06">06</option>
	                  <option value="07">07</option>
	                  <option value="08">08</option>
	                  <option value="09">09</option>
	                  <option value="10">10</option>
	                  <option value="11">11</option>
	                  <option value="12">12</option>
	              </select>月
	              <input type="hidden" name="publish_year_month" id="publish_year_month" placeholder="发表或获奖年月" class="form-control">
              </div>
          </fieldset>
          
          <fieldset>
	          <label for="attachment" class="col-sm-2 form-control-label">附加文件:</label>
  			  <div class="col-sm-3">
			      <input id="attachment" type="file" name="attachment" >
			  </div>

		  </fieldset>

          <input type="submit" name="addArticle" class="btn btn-primary" style="float:left" value="确认" >
      </form>
    </div>
</div>