<div style="margin-left:1px;margin-right:1px; width:85%; display:block; float:left" class="col-sm-10">
<h3>新品种保护</h3>
<table class="table table-hover table-bordered__ table-condensed sortable" >
    <thead style="background-color:lightgrey">
    <tr>
        <th scope="col">作物名</th>
        <th scope="col">品种名</th>
        <th scope="col">品种权保护编号</th>
        <th scope="col">类别</th>
        <th scope="col">获得或申请时间</th>
        <th scope="col"></th> <!-- attachment -->
        <check if="{{@SESSION[is_admin]}}">
            <true>
                <th>By</th>
            </true>
        </check>
        <th scope="col"></th> <!-- actions -->

    </tr>
    </thead>
 
    <tbody>
    <repeat group="{{ @articles }}" value="{{ @item }}">
        <tr>
            <td>
            <check if="{{trim(@item.ref_url)}}">
                <true>
                    <a href="{{trim(@item.ref_url)}}" target="_blank">{{ trim(@item.zuowu_name) }} </a>
                </true>
                <false>
                    {{ trim(@item.zuowu_name) }}
                </false>
            </check>
            </td>
            <td>{{ trim(@item.pinzhong_name) }}</td>
            <td>{{ trim(@item.auth_code) }}</td>
            <td>{{ trim(@item.category) }}</td>
            <td>{{ trim(@item.publish_year) .' '. trim(@item.publish_month) }} </td>
            <td>    
                <check if="{{ trim(@item.attachment_name) }}">
                    <true>
                        <a class="glyphicon glyphicon-paperclip" href="{{ @BASE.'/download_attachment/'.@VIEWTABLE.'/'. @item.id }}" title="下载附加文件"></a>
                    </true>
                </check>
            </td>
	        <check if="{{@SESSION[is_admin]}}">
	            <true>
	                <td>{{  UserController::setAllIdNamePares()[trim(@item.user_id)] }}</td>
	            </true>
	            <false>
		          <td>
	                <a href="{{ @BASE.'/update/'.@VIEWTABLE.'/'. @item.id }}" class="glyphicon glyphicon glyphicon-edit" title="修改"></a> <!-- edit -->
	                <a href="{{ @BASE.'/delete/'.@VIEWTABLE.'/'. @item.id }}" class="btn-danger glyphicon glyphicon-remove" onClick="return confirm('确定要删除?');" title="删除"></a> <!-- delete -->
                  </td>    
              </false>
	        </check>
        </tr>
    </repeat>
    </tbody>
 
</table>
<include href="components/list_add_buttons.html" />

