<div class="container">
   <h3>颁布的技术标准</h3>
   <div id="updateArticleFrm" style="display_:none; width:100%;">
      <form name="update" method="post" action="{{@BASE.'/update/q4'}}" class="form-group row" enctype="multipart/form-data"">
          <fieldset class="form-group">
	          <label for="title" class="col-sm-2 form-control-label">标准名称:</label>
	          <div class="col-sm-8">
	          <input type="text" name="title" id="title" placeholder="标准名称" class="form-control ">
	          </div>
          </fieldset>
          <fieldset class="form-group">
	          <label for="auth_by" class="col-sm-2 form-control-label">批准发布单位:</label>
	          <div class="col-sm-8">
	          <input type="text" name="auth_by" id="auth_by" placeholder="批准发布单位" class="form-control">
	          </div>
          </fieldset>
          <fieldset class="form-group">
	          <label for="auth_code" class="col-sm-2 form-control-label">标准编号:</label>
	          <div class="col-sm-3">
	          <input type="text" name="auth_code" id="auth_code" placeholder="标准编号" class="form-control">
	          </div>
	          <label for="auth_year" class="col-sm-1 form-control-label">日期:</label>
	          <div class="col-sm-2">
	              <select name="auth_year" id="auth_year">
	                  <option value="2016">2016</option>
	                  <option value="2015">2015</option>
	                  <option value="2014">2014</option>
	                  <option value="2013">2013</option>
	                  <option value="2012">2012</option>
	                  <option value="2011">2011</option>
	                  <option value="2010">2010</option>
	              </select>年
	              <select name="auth_month" id="auth_month">
	                  <option value="01">01</option>
	                  <option value="02">02</option>
	                  <option value="03">03</option>
	                  <option value="04">04</option>
	                  <option value="05">05</option>
	                  <option value="06">06</option>
	                  <option value="07">07</option>
	                  <option value="08">08</option>
	                  <option value="09">09</option>
	                  <option value="10">10</option>
	                  <option value="11">11</option>
	                  <option value="12">12</option>
	              </select>月
          </fieldset>
          <fieldset class="form-group">
          
	              <check if="{{ trim(@POST.attachment_name) }}">
	                  <true>
                          <label for="attachment" class="col-sm-6 form-control-label">现有附加文件:
                              <a href="{{@BASE.'/download_attachment/q4/'. @POST.id }}">{{ trim(@POST.attachment_name) }}</a>
                              <div class="checkbox">
                                  <label><input type="checkbox" name="removeAttachment" value="1">删除附加文件</label>
                              </div>
                          </label>
	                  </true>
	                  <false>
                          <label for="attachment" class="col-sm-1 form-control-label">附加文件:</label>
	                  </false>
	              </check>
  			  <div class="col-sm-4">
  			      <input type="hidden" name="MAX_FILE_SIZE" value="10000000" /> <!-- 10MB -->
			      <input id="attachment" type="file" name="attachment" >
			  </div>


		  </fieldset>
		  
    <div class="control-group">
        <div class="">
            <input type="hidden" name="id" value="{{ @POST.id }}" />
            <input type="hidden" name="updateArticle" value="update" />
            <button type="submit" class="btn btn-primary"><i class="icon-edit icon-white"></i> 确认</button>
        </div>
    </div>
    
      </form>
    </div>
</div>
<script>
document.getElementById('title').value = "{{ trim(@POST.title) }}" ;
document.getElementById('auth_by').value = "{{ trim(@POST.auth_by) }}" ;
document.getElementById('auth_code').value = "{{ trim(@POST.auth_code) }}" ;
document.getElementById('auth_year').value = "{{ trim(@POST.auth_year) }}" ;
document.getElementById('auth_month').value = "{{ trim(@POST.auth_month) }}" ;

</script>