<div class="container">
   <div id="addUserFrm" style="display:none; width:100%;">

      <form method="post" action="{{@BASE.'/createuser'}}" class="form-group row" ENCTYPE="multipart/form-data">
          <fieldset class="form-group">
	          <label for="username" class="col-sm-2 form-control-label">登入名:</label>
	          <div class="col-sm-4">
	          <input type="text" name="username" id="username" placeholder="登入名" class="form-control ">
	          </div>
          </fieldset>
          <fieldset class="form-group">
	          <label for="org_name" class="col-sm-2 form-control-label">单位名:</label>
	          <div class="col-sm-4">
	          <input type="text" name="org_name" id="org_name" placeholder="中国农业科学院蔬菜花卉研究所" class="form-control">
	          </div>
          </fieldset>
          <fieldset class="form-group">
	          <label for="password" class="col-sm-2 form-control-label">密码:</label>
	          <div class="col-sm-4">
	          <input type="text" name="password" id="password" placeholder="secret" class="form-control">
	          </div>
          </fieldset>
          <fieldset class="form-group">
	          <label for="email" class="col-sm-2 form-control-label">电子邮件地址:</label>
	          <div class="col-sm-4">
	          <input type="email" name="email" id="email" placeholder="例如 abc@163.cn" class="form-control">
	          </div>
          </fieldset>
          <fieldset class="form-group">
	          <label for="phone" class="col-sm-2 form-control-label">电话:</label>
	          <div class="col-sm-4">
	          <input type="text" name="phone" id="phone" placeholder="6837-0621" class="form-control">
	          </div>
            </fieldset>
            <fieldset class="form-group">
	          <label for="project" class="col-sm-1 form-control-label">参与项目:</label>
	          <div class="col-sm-1">
	              <select name="project" id="project">
	                  <option value="西瓜">西瓜</option>
	                  <option value="甜瓜">甜瓜</option>
	              </select>
	          </div>
	          <label for="is_active" class="col-sm-1 form-control-label">激活状态:</label>
	          <div class="col-sm-1">
	              <select name="is_active" id="is_active">
	                  <option value="1" >激活</option>
	                  <option value="0">未激活</option>
	              </select>
	          </div>
	          
	          <label for="is_admin" class="col-sm-1 form-control-label">系统管理员:</label>
	          <div class="col-sm-1">
	              <select name="is_admin" id="is_admin">
	                  <option value="0">否</option>
	                  <option value="1">是</option>
	              </select>
	          </div>
	      </fieldset>    

          <input type="submit" name="addUser" class="btn btn-primary" style="float:left" value="提交" >
      </form>
    </div>
</div>