<div style="margin-left:1px;margin-right:1px; display:block; float:left" class="col-sm-10">
<h3>用户管理</h3>
<table class="table table-hover table-bordered__ table-condensed sortable" >
    <thead style="background-color:lightgrey">
    <tr>
        <th scope="col">登入名</th>
        <th scope="col" >单位名</th>
        <th scope="col">电子邮件地址</th>
        <th scope="col">电话号码</th>
        <th scope="col">激活状态</th>
        <th scope="col">提交日期</th>
        <th scope="col" >是否管理员</th>
        <th scope="col"></th> <!-- actions -->
    </tr>
    </thead>
 
    <tbody>
    <repeat group="{{ @users }}" value="{{ @user }}">
        <tr>
            <td>{{ trim(@user.name) }} </td>
            <td>{{ trim(@user.org_name) }} </td>
            <td>{{ trim(@user.email) }}</td>
            <td>{{ trim(@user.phone) }}</td>
            <td>{{ trim(@user.is_active) ? 'True':'False'  }}</td>
            <td>{{ trim(@user.submit_date) }}</td>
            <td>{{ trim(@user.is_admin) ? 'True':'False' }}</td>
		    <td>
	                <a href="{{ @BASE.'/admin/updateuser/'. @user.id }}" class="glyphicon glyphicon glyphicon-edit" title="修改"></a> <!-- edit -->
            </td>    
        </tr>
    </repeat>
    </tbody>
 
</table>

<check if="{{@SESSION[is_admin]}}">
    <false>
    <button id="addUserBtn" class="btn btn-primary" style="float:left;margin:5px">添加</button>
    </false>
</check>
<div style="clear:both""></div>

<hr style="clear:both;margin:5px"/>

