<div style="margin-left:1px;margin-right:1px; width:85%; display:block; float:left" class="col-sm-10">
<h3>品种审定（鉴定)</h3>
<table class="table table-hover table-bordered__ table-condensed sortable" >
    <thead style="background-color:lightgrey">
    <tr>
        <th scope="col">作物名</th>
        <th scope="col">品种名</th>
        <th scope="col">审定或鉴定号</th>
        <th scope="col">审定单位</th>
        <th scope="col">审定或鉴定时间</th>
        <th scope="col"></th> <!-- attachment -->
        <check if="{{@SESSION[is_admin]}}">
            <true>
                <th>By</th>
            </true>
        </check>
        <th scope="col"></th> <!-- actions -->
    </tr>
    </thead>
 
    <tbody>
    <repeat group="{{ @articles }}" value="{{ @item }}">
        <tr>
            <td>
            <check if="{{trim(@item.ref_url)}}">
                <true>
                    <a href="{{trim(@item.ref_url)}}" target="_blank">{{ trim(@item.zuowu_name) }} </a>
                </true>
                <false>
                    {{ trim(@item.zuowu_name) }}
                </false>
            </check>
            </td>
            <td>{{ trim(@item.pinzhong_name) }}</td>
            <td>{{ trim(@item.certification_code) }}</td>
            <td>{{ trim(@item.certified_by) }}</td>
            <td>{{ trim(@item.publish_year) .' '. trim(@item.publish_month) }} </td>
            <td>    
                <check if="{{ trim(@item.attachment_name) }}">
                    <true>
                        <a class="glyphicon glyphicon-paperclip" href="{{ @BASE.'/download_attachment/'.@VIEWTABLE.'/'. @item.id }}" title="下载附加文件"></a>
                    </true>
                </check>
            </td>
            <td>
		        <check if="{{@SESSION[is_admin]}}">
		            <true>
		                {{  UserController::setAllIdNamePares()[trim(@item.user_id)] }}
		            </true>
		            <false>
		                <a href="{{ @BASE.'/update/'.@VIEWTABLE.'/'. @item.id }}" class="glyphicon glyphicon glyphicon-edit" title="修改"></a> <!-- edit -->
		                <a href="{{ @BASE.'/delete/'.@VIEWTABLE.'/'. @item.id }}" class="btn-danger glyphicon glyphicon-remove" onClick="return confirm('确定要删除?');" title="删除"></a> <!-- delete -->
	              </false>
		        </check>
	        </td>
        </tr>
    </repeat>
    </tbody>
</table>
<include href="components/list_add_buttons.html" />

