<div style="margin-left:1px;margin-right:1px; display:block; float:left" class="col-sm-10">
<h3>发表文章</h3>
<table class="table table-hover table-bordered__ table-condensed sortable" >
    <thead style="background-color:lightgrey">
    <tr>
        <th scope="col">文章名称</th>
        <th scope="col">作者</th>
        <th scope="col">刊物名称 </th>
        <th scope="col">年月</th>
        <th scope="col">期刊页码</th>
        <th scope="col">文章类别</th>
        <th scope="col">影响因子</th>
        <th scope="col"></th> <!-- attachment -->
        <check if="{{@SESSION[is_admin]}}">
            <true>
                <th>By</th>
            </true>
        </check>
        <th scope="col"></th> <!-- actions -->

    </tr>
    </thead>
 
    <tbody>
    <repeat group="{{ @articles }}" value="{{ @article }}">
        <tr>
            <td>
            <check if="{{trim(@article.ref_url)}}">
                <true>
                    <a href="{{trim(@article.ref_url)}}" target="_blank">{{ trim(@article.title) }} </a>
                </true>
                <false>
                    {{ trim(@article.title) }}
                </false>
            </check>
            </td>
            <td>{{ trim(@article.author) }}</td>
            <td>{{ trim(@article.publisher) }}</td>
            <td>{{ trim(@article.publish_year) .' '. trim(@article.publish_month)}}</td>
            <td>{{ trim(@article.publish_page) }}</td>
            <td>{{ trim(@article.level) }}</td>
            <td>{{ trim(@article.effect_factor) }}</td>
            <td>    
                <check if="{{ trim(@article.attachment_name) }}">
                    <true>
                        <a class="glyphicon glyphicon-paperclip" href="{{ @BASE.'/download_attachment/q6/'. @article.id }}" title="下载附加文件"></a>
                    </true>
                </check>
            </td>
	        <check if="{{@SESSION[is_admin]}}">
	            <true>
	                <td>{{  UserController::setAllIdNamePares()[trim(@article.user_id)] }}</td>
	            </true>
	            <false>
		          <td>
	                <a href="{{ @BASE.'/update/q6/'. @article.id }}" class="glyphicon glyphicon glyphicon-edit" title="修改"></a> <!-- edit -->
	                <a href="{{ @BASE.'/delete/q6/'. @article.id }}" class="btn-danger glyphicon glyphicon-remove" onClick="return confirm('确定要删除?');" title="删除"></a> <!-- delete -->
                  </td>    
              </false>
	        </check>
        </tr>
    </repeat>
    </tbody>
 
</table>

<check if="{{@SESSION[is_admin]}}">
    <false>
    <button id="addArticleBtn" class="btn btn-primary" style="float:left;margin:5px">添加</button>
    </false>
</check>

<div style="clear:both""></div>

<include href="q6/add.html" />
<hr style="clear:both;margin:5px"/>

