
        <div style="clear:both"><br></div>
        <!-- Call to Action Section -->
    <!--     
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>央广网北京2月8日消息（记者马闯）据中国之声《新闻和报纸摘要》报道，党的十八大以来，每年春节前夕，习近平总书记都深入基层，走村串户，看望慰问各族群众，向大家拜年。老少边穷地区，就是总书记的牵挂</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="#">联系我们</a>
                </div>
            </div>
        </div>
        <hr>
    -->
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2016</p>
                </div>
            </div>
        </footer>


    <!-- jQuery -->
    <script src="{{@BASE}}/lib/js/jquery-1.11.3.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{@BASE}}/lib/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>

    <script src="{{@BASE}}/lib/js/sorttable.js"></script>

    <!-- customer loaner javascripts -->
    <script src="{{@BASE}}/lib/js/loaner.js"></script>
    

    
</body>

</html>