
    <!-- Page Content -->
    <header>
    <div style="text-align:center;  background-color:rgb(222, 222, 100); margin-bottom:0px; padding:100px; ">
        <span class="brand-name">国家农业科技项目</span>
        <h1>西甜瓜科研成果汇总</h1>
        <div style="margin-top:40px">
              <a class="btn btn-lg btn-default btn-block__" href="{{@BASE.'/list/q1'}}">提交科研成果</a>
        </div>
    </div>
    </header>
 
 <!--
    <div class__="container" style="background-color:rgb(100,100,100); padding:40px">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> 使用说明</h4>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i> 成果一览 </h4>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
-->        

        <!-- /.row -->
    </div>    
