<div style="float:left;display:block; width:150px; margin-left:5px; " >

<ul id="menu" class="list-group">
  <li class="list-group-item">
      <a href="{{@BASE}}/list/q1" >1.奖励与成果鉴定</a>
  </li>    
  <li class="list-group-item">
      <a href="{{@BASE}}/list/q2">2.品种审定（鉴定）</a>
  </li>
  <li class="list-group-item">
      <a href="{{@BASE}}/q2/list">3.新品种保护 </a>
  </li>
  <li class="list-group-item">
      <a href="{{@BASE}}/q2/list">4.颁布的技术标准</a>
  </li>
  <li class="list-group-item">
      <a href="{{@BASE}}/q2/list">5.制定技术规程</a>
  </li>
  <li class="list-group-item">
      <a href="{{@BASE}}/q2/list">6.发表文章</a>
  </li>
  <li class="list-group-item">
      <a href="{{@BASE}}/q2/list">8.获得专利</a>
  </li>
  <li class="list-group-item">
      <a href="{{@BASE}}/q2/list">9.典型事例</a>
  </li>
  <li class="list-group-item">
      <a href="{{@BASE}}/q2/list">10.汇总</a>
  </li>
</ul>
</div>