
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{@BASE}}/home">科研成果统计</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
<!-- 
                    <li>
                        <a href="{{@BASE}}/article/list">奖励与成果</a>
                    </li>
                    <li>
                        <a href="{{@BASE}}/app/views/q2/test.html">品种审定</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
              		<check if="{{ @SESSION['username'] }}">
	                    <li >
	                        <a style="color:#eee" href="{{@BASE}}/front">Rate</a>
	                    </li>
	                    <li >
	                        <a style="color:#eee" href="{{@BASE}}/restricted">Trend & News</a>
	                    </li>
	                </check>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">选择成果类别 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{@BASE}}/article/list">奖励与成果</a>
                            </li>
                            <li>
                                <a href="{{@BASE}}/q2/list">品种审定</a>
                            </li>
                            <li>
                                <a href="blog-post.html">Blog Post</a>
                            </li>
                        </ul>
                    </li>
<!--                     
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Pages <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="full-width.html">Full Width Page</a>
                            </li>
                            <li>
                                <a href="sidebar.html">Sidebar Page</a>
                            </li>
                            <li>
                                <a href="faq.html">FAQ</a>
                            </li>
                            <li>
                                <a href="404.html">404</a>
                            </li>
                            <li>
                                <a href="pricing.html">Pricing Table</a>
                            </li>
                        </ul>
                    </li>
                -->
		       <div class="navbar-text" style="margin:0;" > 
		    		<check if="{{ @SESSION['username'] }}">
					    <true>
					        <p style="margin-top:15px">您已登入为：  <span style="color:#fff font-weight: bold"> {{ @SESSION['username'] }} </span> , <a style="color:#eee" href="{{ @BASE.'/signout' }}" onClick="return cleanRatePageVisit();">退出</a></p>
					    </true>
					    <false>
					        <p style="margin-top:8px"> 尚未登入
<!-- 					        
 				        <button id="btnSignup" type="button" class="btn btn-link" style="color:#eee">创建用户</button> 或 
					        <button id="btnSignin" type="button" class="btn btn-link" style="color:#eee">用户登入</button> 
					        </p>
-->					        
					    </false>
					</check>
		     	</div> 
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


